@use '@/lib/colors' as *;

.paymentContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
  }
  
  .paymentForm {
    display: flex;
    flex-direction: column;
  }
  
  .cardElement {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .paymentButton {
    padding: 0.75rem;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .paymentButton:hover {
    background-color: #005bb5;
  }