:root {
  --background: #f8f9fa;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*{

  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.SliderContainer {
  width: 550px; /* 100% del ancho de la ventana */
  height: 300px; /* Ajusta la altura según tus necesidades */
  overflow: visible; /* Oculta el desbordamiento para el slider */
  position: relative; 
  gap:2rem;
}

.SwiperSlide {
  display: flex;
  justify-content: center; /* Centrar el contenido del slide */
}

.CarImage {
  width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.CarDetails {
  text-align: center; /* Centrar el texto en los detalles del coche */
}