:root {
  --background: #f8f9fa;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*{

  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* Selecciona los bullets directamente */

.swiper .swiper-pagination {
  margin-top: 60px; /* Añade un margen para mover los bullets hacia abajo */
  position: relative; /* Asegúrate de que no estén fijados al slider */
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  width: 14px; /* Tamaño del bullet */
  height: 14px; /* Tamaño del bullet */
  background-color: #ccc; /* Color del bullet no activo */
  border-radius: 3px; /* Ajusta para hacerlo cuadrado o con esquinas redondeadas */
  opacity: 1; /* Asegúrate de que sean visibles */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Bullet activo */
.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000; /* Color negro para el bullet activo */
  transform: scale(1.2); /* Efecto de ampliación */
}
