@use '@/lib/colors' as *;

.carImage {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  object-fit: cover;
}

.carDetails {
 
  background: $primary;
  box-shadow: $cards-shadow;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;

  @media screen and (max-width: 1024px) { // Tablet o menos

    margin: 1rem 0; // Ajusta el margen para que se vea bien
  }
}

.detailSection {
  margin-bottom: 20px;

  p {
    font-size: 1rem;
    color: $secondary;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    font-size: 1rem;
    color: $secondary;
    margin-bottom: 10px;
  }
}

.detailTitle {
  font-size: 2rem;
  margin-bottom: 10px;
  color: $secondary;
}

.priceSection {
  margin-top: 10px;

  h2 {
    color: $secondary;
    font-size: 1.8rem;
    margin: 0;
  }
}