@use '@/lib/colors' as *;

.carDetailContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 10rem;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 768px) {
    padding: 0 1rem;
    flex-direction: column;
  }
}

